extends ../layout

block content
  .container.py-5
    h1.text-center About Us
    .row.mt-5
      .col-md-6
        h3 Mission
        p Connecting donors & volunteers with orphanages.
      .col-md-6
        h3 Vision
        p Every child feels loved and supported.